.taller-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 2rem;
    border-radius: .5rem;
}
.taller-card form button{
    width: 10rem;
    height: 2.5rem;
    margin: .5rem;
    background-color: #2F3142;
    color: white;
    text-align: center;
}
.form-group{
    text-align: center;
}
.form-group button{
    width: 10rem;
    height: 2.5rem;
    margin: .5rem;
    background-color: #2F3142;
    color: white;
    text-align: center;
}
.form-group input{
    border: none;
    border-bottom: 1px solid #bfbfbf;
    font-size: 1rem;
    background: transparent;
    color: white;
    margin: .6rem;
    text-align: right;
}